clause-extraction/force-app/main/default/flows/Clauses_Extraction_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>customNotificationTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderId</name>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Clause Extraction Job Finished</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Job.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Recipients</name>
        <label>Set Recipients</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.User_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Completed</name>
        <label>Set Status Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Job.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>templateNotificationBodyOK</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Error</name>
        <label>Set Status Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Job.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>templateNotificationBodyError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Job</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>OK_Decision</name>
        <label>OK?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Status_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>OK_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Clauses_Error__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Completed</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Clauses Extraction Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clauses Extraction Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clauses_Extraction</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>customNotificationTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OK_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Clause_Extraction_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Job</name>
        <label>Save Job</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
        <inputReference>Get_Job</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Clauses_Extraction_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>templateNotificationBodyError</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Clauses Extraction for Job Id {!$Record.Job_Id__c} has completed. A total of {!$Record.Total_Clauses_Submitted__c} clauses were processed. A total of {!$Record.Total_Clauses_Error__c} records produced error. You can see more details by looking at the bulk API job {!$Record.Bulk_Job_Id__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateNotificationBodyOK</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Clauses Extraction for Job Id {!$Record.Job_Id__c} has completed. A total of {!$Record.Total_Clauses_Submitted__c} clauses were processed. You can see more details by looking at the bulk API job {!$Record.Bulk_Job_Id__c}</text>
    </textTemplates>
    <variables>
        <name>customNotificationTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
